body {
  font-family: 'Inter';
}

.card-container{
  display: flex;
  flex-flow: row wrap;
  padding:0;
  margin:0;
}

.card-container h1{
  width:100%;
  margin-top: 5%;
  margin-left:15%;
}

@media all and (min-width: 600px) {
  .flex-container { flex: 3 0px; }
  .card1 { order: 1; }
  .card2 { order: 1; }
  .card3 { order: 1; }
  .card4 { order: 1; }
}

.card1{
  width: 200px;
  height: 200px;
  background-color:white;
  margin-top:2%;
  margin-left:15%;
  border-radius: 10px;
  border: 2px solid #C6C6C6;
}

.card2{
  width: 200px;
  height: 200px;
  background-color:black;
  margin-top:2%;
  margin-left:3%;
  color:white;
  border-radius: 10px;
  border: 2px solid #000000;
}

.card3{
  width: 200px;
  height: 200px;
  background-color: white;
  margin-top:2%;
  margin-left:3%;
  border-radius: 10px;
  border: 2px solid #C6C6C6;
}

.card4{
  width: 200px;
  height: 200px;
  background-color: white;
  margin-top:5%;
  margin-left:15%;
  border-radius: 10px;
  border: 2px solid #005AFF ;
}

h1{
  font-size:40px;
  font-weight: bolder;
}

h3{
  margin-left:10%;
  margin-right:10%;
  margin-top:15%;
}

p{
  margin-left:10%;
  margin-right:10%
}

.card3 h3{
  margin-top:10%;
  height: 20px;
  background:#F2CED8 ;
  padding: 5%;
  box-shadow: lightgray 0 2px 1px;
}

.card4 h3{
  color:rgb(252, 0, 120);
  text-shadow: gray 1px 1px;
}